
/* Base Reset and Layout */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  line-height: 1.5;

}

/* Sidebar Navigation */
nav {
  width: 15%;
  min-width: 180px;
  max-width: 320px;
  background-color: #f8f8f8;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
}

nav h2 {
  font-size: 1.2em;
  margin-top: 0;
}

nav a {
  display: block;
  margin: 10px 0;
  color: #154406;
  text-decoration: none;
}

/* Main Content */
main {
  flex-grow: 1;
  padding: 20px 30px;
  word-wrap: break-word;
  
}

/* Global Link Styling */
a {
  color: #154406;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main h1 {
  font-size: 1.8em;
  margin-top: 0;
}

main h2 {
  font-size: 1.4em;
  margin-top: 1.5em;
}

main h3 {
  font-size: 1.2em;
  margin-top: 1.2em;
}

details {
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

